__pycache__
.vscode
Look4Face/media/media_root/*
!Look4Face/media/media_root/.gitkeep
Look4Face/media/media_root/crops/*
!Look4Face/media/media_root/crops/.gitkeep

!media/examples 
*.so
Look4Face/look4face.log
