{% load staticfiles %}
<title>{{ title }}</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />

<!-- https://fonts.google.com/specimen/Roboto -->
<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
<!-- https://fontawesome.com/ -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<!-- https://getbootstrap.com/ -->
<link rel="stylesheet" href="{% static 'jquery-ui-datepicker/jquery-ui.min.css" type="text/css' %}" />
<!-- http://api.jqueryui.com/datepicker/ -->
<link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
<!--
Product Admin CSS Template
https://templatemo.com/tm-524-product-admin
-->